main h3{
    background-color: white;
    color: blue;
    padding: 10px;
    margin: 0;
    width: 93%;
}

.event-img{
    margin-top: 1rem;
}

.current-weather-info p{
   margin-bottom: 0.5rem;
}

#weather-icon{
    margin: 0;
}

#forecast-weather-info div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 4rem;
    text-align: center;
}
.key-note{
    width: 100px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
    position: absolute;
    right: 100px;
    top: 400px;
}

.key-note:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.05);
}



@media (min-width: 768px){
    main{
        width: 100%;
    }

    .top-section{
        display: grid;
        grid-template-columns: 45% 25% 25%;
        gap: 1rem;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #forecast-weather-info div{
        text-align: start;
    }

    .key-note{
        
        position: absolute;
        right: 100px;
        top: 500px;
    }

}