:root{
    --primary-color: #DB504A;
    --secondary-color: #B2B09B;
    --button-backgroun-color: #DB504A;
    --button-color: black;
    --font-color1:black;
    --font-color2:white;
}


.stores div{
    background-color: #B2B09B;
    justify-items: ;
    padding: 1rem;
    margin: 1rem 0; 
    display: grid;
    grid-template-areas: 
    "a b b"
    "c c c"
    "d d d"
    ;   
}


.stores div img {
    grid-area: a;
    border-radius: 50px;

}

.stores div h3 {
    grid-area: b;
    margin-top: 3rem;

}
.stores div p {
    grid-area: c;
    text-align: center;

}
.stores div button {
    grid-area: d;
    text-align: center;
    width: 50%;
    height: 2.5rem;
    margin-left: 7.3rem;
    background-color: var(--button-backgroun-color);
    color: var(--font-color2);
    font-size:large;
    border: none;
    border-radius: 4px;
}



dialog {
    background-color: #DB504A;
}
 

@media (min-width: 614px) {

    .stores{
       display:grid;
       grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) ;
       grid-gap: 5px;
    }
    
}